<%- include('../layouts/header.ejs'); -%>
<div class = "container">
    <h3>Joki list</h3>
    <div class="d-flex justify-content-end m-2">
        <a class="btn btn-primary" href="/joki/create">Tambah Joki Baru</a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>PHONE NUMBER</th>
            <th>ADDRESS</th>
            <th>STATUS</th>
            <th style="width:300px">Option</th>
          </tr>
        </thead>
        <tbody>
            <% data.forEach((joki) => { %>
          <tr>
            <th><%= joki.id %></th>
            <td><%= joki.name %></td>
            <td><%= joki.age %></td>
            <td><%= joki.phone %></td>
            <td><%= joki.adress %></td>
            <td><%= joki.status %></td>
            <td style="width:300px">
                <a class="btn btn-danger" href="/joki/delete/<%= joki.id%>">Delete</a>
                <a class="btn btn-warning" href="/joki/edit/<%= joki.id%>">Edit</a>
            </td>
        </tr>
        <% }); %>
        </tbody>

</div>
</table>

<%- include('../layouts/footer.ejs'); -%>